body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* git remote add origin https://github.com/Kamini099/employeePerformance.git
git branch -M main
git push -u origin main */
